<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!--<ion-title>Weather Update</ion-title>-->
    <ion-grid>
        <ion-row>
          <ion-col col-10>
            <ion-searchbar
              [(ngModel)]="city"
              [showCancelButton]="shouldShowCancel">
            </ion-searchbar>
          </ion-col>
          <ion-col col-1>
            <ion-icon name="search" (click)="onInput()"></ion-icon>
          </ion-col>
          <ion-col *ngIf = "show == 1">
            <ion-icon md="md-more" (click)="presentPopover($event)"></ion-icon> 
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content>
    

  <div class="m_content">
    

    <div class="welcom" *ngIf = "show == 0">
      <h2>Know Your Current Weather</h2>
      <img src="../../assets/imgs/different_weather.jpg">
      <h3>Don't Go Out Without Knowing Your Weather</h3>
    </div>

    <div class="output" *ngIf = "show == 1">
        <h2>Today At {{city}}</h2>
        <h3>{{info?.weather[0].description}}</h3>
        <img src="http://openweathermap.org/img/w/{{info?.weather[0].icon}}.png">
        
        <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

        <h3>{{current_temp}}</h3>
        <ion-grid>
          <ion-row>
            <ion-col><b>Min Temp</b></ion-col>
            <ion-col>{{min_temp}}</ion-col>
            <ion-col><b>Max Temp</b></ion-col>
            <ion-col>{{max_temp}}</ion-col>
          </ion-row>
          <ion-row >
            <ion-col><b>Description</b></ion-col>
            <ion-col>{{info?.weather[0].description}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col><b>Humidity</b></ion-col>
            <ion-col>{{info?.main.humidity}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col><b>Pressure</b></ion-col>
            <ion-col>{{info?.main.pressure}}</ion-col>
          </ion-row>
        </ion-grid>
        
        <button ion-button full (click) = "refresh()">Done</button>
      </div>

  </div>
    
<!--(ionInput)="onInput($event)"-->
    <div class="input" *ngIf = "show == 5">
      <ion-item>
        <ion-label>Select City</ion-label>
        <ion-select [(ngModel)]="city" >
          <ion-option value="Pretoria" >Pretoria</ion-option>
          <ion-option value="Johannesburg">Johannesburg</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button full (click) = "viewWeather()">View Weather</button>
    </div>
      <!--*ngIf = "infoList != 0"-->
      

</ion-content>
